<tui-accordion>
  <tui-accordion-item class="place-residence_mb16">
    <h2 class="place-residence__title tui-text_h3">Место регистрации</h2>
    <ng-template tuiAccordionItemContent>
      <form [formGroup]="placeResidenceForm">
        <div class="place-residence__form-container">
          <div class="place-residence__file-input-control-container">
            <tui-input-file
              class="place-residence__file-input-control"
              formControlName="file"
              link="Выберите"
              label="или перетащите сюда файл скана паспорта и прописки"
              [loadingFiles]="loadingFiles"
            ></tui-input-file>
            <button
              tuiButton
              type="button"
              class="place-residence__file-button-download"
              size="m"
              [showLoader]="isDownloadFile"
              [disabled]="isDownloadFile"
              *ngIf="getControl('file')?.value"
            >
              Скачать файл
            </button>
          </div>
          <div
            class="place-residence__form-controls"
            *ngIf="getControl('file')?.value"
          >
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input formControlName="city">Город</tui-input>
              <tui-field-error formControlName="city"></tui-field-error>
            </div>
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input formControlName="street">Улица</tui-input>
              <tui-field-error formControlName="street"></tui-field-error>
            </div>
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input formControlName="house">Дом</tui-input>
              <tui-field-error formControlName="house"></tui-field-error>
            </div>
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input formControlName="flat">Квартира</tui-input>
              <tui-field-error formControlName="flat"></tui-field-error>
            </div>
            <div class="place-residence__form-control">
              <tui-input formControlName="zip_code">Индекс</tui-input>
              <tui-field-error formControlName="zip_code"></tui-field-error>
            </div>
          </div>
          <div
            class="place-residence__form-button-container"
            *ngIf="getControl('file')?.value"
          >
            <button
              tuiButton
              type="button"
              size="m"
              (click)="onSave()"
              [disabled]="
                placeResidenceForm.invalid || placeResidenceForm.untouched
              "
            >
              Сохранить
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
