<div class="clients__container">
  <div class="clients__header">
    <h1 class="clients__title tui-text_h2">Мои клиенты</h1>
    <div class="clients__add-client-button-container">
      <button tuiButton size="m" (click)="onAddClient()">
        Добавить клиента
      </button>
    </div>
  </div>
  <div class="clients__table-container">
    <div class="clients__filters-container">
      <div class="clients__filter-container">
        <tui-input
          tuiTextfieldSize="m"
          [tuiTextfieldCleaner]="true"
          tuiAutoFocus
          [formControl]="search"
          tuiTextfieldExampleText="Например, ООО 'Пример'"
        >
          Поиск по наименованию клиента
        </tui-input>
      </div>
    </div>
    <tui-scrollbar>
      <table tuiTable class="clients__table" [columns]="columns">
        <thead>
          <tr tuiThGroup>
            <th [resizable]="true" tuiTh>ИНН клиента</th>
            <th [resizable]="true" tuiTh>Наименование клиента</th>
            <th [resizable]="true" tuiTh>Адрес</th>
            <th [resizable]="true" tuiTh>Продукт</th>
            <th *ngFor="let bank of banks" [resizable]="true" tuiTh>
              {{ bank.name }}
            </th>
          </tr>
        </thead>
        <tbody tuiTbody [data]="clientCompanies">
          <ng-container *ngIf="clientCompanies?.length">
            <tr *tuiRow="let client of clientCompanies" tuiTr>
              <td *tuiCell="'innClient'" tuiTd>
                {{ client.inn }}
              </td>
              <td *tuiCell="'name'" tuiTd>
                {{ client.name }}
              </td>
              <td *tuiCell="'address'" tuiTd>
                {{ client.address }}
              </td>
              <td *tuiCell="'product'" tuiTd>
                {{ productsOnRus[client.product] }}
              </td>
              <ng-container *ngFor="let bank of banks">
                <td *tuiCell="getCellName(bank.id)" tuiTd>
                  {{ getAttachedStatus(bank.id, client) }}
                </td>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="!clientCompanies?.length && !isSearch">
            <td [colSpan]="columns?.length" tuiTd [style.textAlign]="'center'">
              Данные о компаниях клиентов не найдены
            </td>
          </ng-container>
          <ng-container *ngIf="isSearch">
            <td [colSpan]="columns?.length" tuiTd [style.textAlign]="'center'">
              <tui-loader></tui-loader>
            </td>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td [colSpan]="columns?.length">
              <tui-table-pagination
                [total]="clientCompanies.length"
              ></tui-table-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </tui-scrollbar>
  </div>
</div>
