<tui-accordion>
  <tui-accordion-item class="first-page-passport_mb16 first-page-passport_mt16">
    <h2 class="first-page-passport__title tui-text_h3">Первая страница</h2>
    <ng-template tuiAccordionItemContent>
      <div
        class="first-page-passport__form-controls"
        [formGroup]="passportForm"
      >
        <div class="first-page-passport__form-controls_flexbox">
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="last_name"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, Иванов"
            >
              Фамилия
            </tui-input>
            <tui-field-error formControlName="last_name"></tui-field-error>
          </div>
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="first_name"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, Иван"
            >
              Имя
            </tui-input>
            <tui-field-error formControlName="first_name"></tui-field-error>
          </div>
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="middle_name"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, Иванович"
            >
              Отчество
            </tui-input>
            <tui-field-error formControlName="middle_name"></tui-field-error>
          </div>
        </div>
        <div class="first-page-passport__form-controls_flexbox">
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="series"
              [textMask]="seriesMask"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, 12-34"
            >
              Серия документа
            </tui-input>
            <tui-field-error formControlName="series"></tui-field-error>
          </div>
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="number"
              [textMask]="numberMask"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, 123-456"
            >
              Номер документа
            </tui-input>
            <tui-field-error formControlName="number"></tui-field-error>
          </div>
          <div class="first-page-passport__form-control">
            <tui-input-date
              formControlName="date_born"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, 01.01.2001"
            >
              Дата рождения
            </tui-input-date>
            <tui-field-error formControlName="date_born"></tui-field-error>
          </div>
        </div>
        <div class="first-page-passport__form-controls_flexbox">
          <div class="first-page-passport__form-control">
            <tui-input-date
              formControlName="date_from"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, 01.01.2001"
            >
              Дата выдачи документов
            </tui-input-date>
            <tui-field-error formControlName="date_from"></tui-field-error>
          </div>
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="issuer"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, ГУ МВД РОССИИ"
            >
              Кем выдан
            </tui-input>
            <tui-field-error formControlName="issuer"></tui-field-error>
          </div>
          <div class="first-page-passport__form-control">
            <tui-input
              formControlName="issuer_code"
              [textMask]="issuerIdMask"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldExampleText="Например, 123-456"
            >
              Код подразделения
            </tui-input>
            <tui-field-error formControlName="issuer_code"></tui-field-error>
          </div>
        </div>
      </div>
      <div class="first-page-passport__form-button-container">
        <button
          tuiButton
          type="button"
          size="m"
          (click)="onSave()"
          [disabled]="passportForm.invalid || passportForm.untouched"
        >
          Сохранить
        </button>
      </div>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
