<div class="statutory-documents__container">
  <div class="statutory-documents__sections">
    <div class="statutory-documents__section">
      <credex-company-charter
        [companyClientId]="companyClientId"
        [companyCharter]="companyCharter"
      ></credex-company-charter>
    </div>
    <div class="statutory-documents__section">
      <credex-appointment-sole-executive-body
        [companyClientId]="companyClientId"
        [appointmentSoleExecutiveBody]="appointmentSoleExecutiveBody"
      ></credex-appointment-sole-executive-body>
    </div>
  </div>
</div>
