.lease-agreement-premises {
  &__form-controls {
    &-container {
      border-radius: var(--tui-radius-m);
      border: 1px solid var(--tui-base-03);
      padding: 16px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-title {
      margin: 0;
    }
  }

  &__file-input-control {
    width: 100%;
    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__file-button-download {
    margin-left: 16px;
  }

  &__input-controls-container {
    margin-top: 16px;
  }

  &__input-control,
  &__accordion-container,
  &__select-control {
    width: 100%;

    &_mb16 {
      margin-bottom: 16px;
    }

    &_mr16 {
      margin-right: 16px;
    }
  }

  &__date-controls-container {
    display: flex;
    margin-bottom: 16px;
  }

  &__button {
    &-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
