<div class="archive-balance-sheets__container">
  <tui-select
    [formControl]="periodControl"
    [class.archive-balance-sheets__select-control_mb16]="periodControl.value"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldExampleText]="'31.12.2010-31.08.2010'"
    [valueContent]="selectPeriod"
  >
    Выберите период
    <tui-data-list *tuiDataList>
      <button *ngFor="let period of periods" tuiOption [value]="period">
        {{ period?.date_quarter | date: "dd.MM.YYYY" }}-{{
          period?.date_year | date: "dd.MM.YYYY"
        }}
      </button>
    </tui-data-list>
  </tui-select>
  <ng-template [ngIf]="periodControl.value">
    <div class="archive-balance-sheets__form-container">
      <credex-balance-sheets-forms
        [isArchive]="true"
        [clientCompanyId]="clientCompanyId"
        [balanceSheetsFormOne]="balanceSheetsFormOne"
        [balanceSheetsFormTwo]="balanceSheetsFormTwo"
      ></credex-balance-sheets-forms>
    </div>
  </ng-template>
</div>

<ng-template #selectPeriod let-period>
  {{ period?.date_quarter | date: "dd.MM.YYYY" }}-{{
    period?.date_year | date: "dd.MM.YYYY"
  }}
</ng-template>
