<tui-accordion>
  <tui-accordion-item>
    <h2 class="place-residence__title tui-text_h3">Место регистрации</h2>
    <ng-template tuiAccordionItemContent>
      <form [formGroup]="placeResidenceForm">
        <div class="place-residence__form-container">
          <div class="place-residence__form-controls">
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input
                formControlName="city"
                [tuiTextfieldCleaner]="true"
                tuiTextfieldExampleText="Например, Москва"
                >Город</tui-input
              >
              <tui-field-error formControlName="city"></tui-field-error>
            </div>
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input
                formControlName="street"
                [tuiTextfieldCleaner]="true"
                tuiTextfieldExampleText="Например, ул. Мира"
                >Улица</tui-input
              >
              <tui-field-error formControlName="street"></tui-field-error>
            </div>
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input
                formControlName="house"
                [tuiTextfieldCleaner]="true"
                tuiTextfieldExampleText="Например, 12"
                >Дом</tui-input
              >
              <tui-field-error formControlName="house"></tui-field-error>
            </div>
            <div
              class="
                place-residence__form-control place-residence__form-control_mb16
              "
            >
              <tui-input
                formControlName="flat"
                [tuiTextfieldCleaner]="true"
                tuiTextfieldExampleText="Например, 34"
                >Квартира</tui-input
              >
              <tui-field-error formControlName="flat"></tui-field-error>
            </div>
            <div class="place-residence__form-control">
              <tui-input
                formControlName="zip_code"
                [tuiTextfieldCleaner]="true"
                tuiTextfieldExampleText="Например, 123456"
                [textMask]="zipCodeMask"
                >Индекс</tui-input
              >
              <tui-field-error formControlName="zip_code"></tui-field-error>
            </div>
          </div>
          <div class="place-residence__form-button-container">
            <button
              tuiButton
              type="button"
              size="m"
              (click)="onSave()"
              [disabled]="
                placeResidenceForm.invalid || placeResidenceForm.untouched
              "
            >
              Сохранить
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
