<div class="dossier-clients__container">
  <div class="dossier-clients__header">
    <h1 class="dossier-clients__title tui-text_h2">Досье клиентов</h1>
  </div>
  <div class="dossier-clients__table-container">
    <tui-scrollbar>
      <table tuiTable class="dossier-clients__table" [columns]="columns">
        <thead>
          <tr tuiThGroup>
            <th *tuiHead="'innClient'" [resizable]="true" tuiTh>ИНН клиента</th>
            <th *tuiHead="'name'" [resizable]="true" tuiTh>
              Наименование клиента
            </th>
            <th *tuiHead="'address'" [resizable]="true" tuiTh>Адрес</th>
            <th *tuiHead="'actions'" [resizable]="true" tuiTh>Действия</th>
          </tr>
        </thead>
        <tbody tuiTbody [data]="clientCompanies">
          <ng-container *ngIf="clientCompanies.length">
            <tr *tuiRow="let client of clientCompanies" tuiTr>
              <td *tuiCell="'innClient'" tuiTd>
                {{ client.inn }}
              </td>
              <td *tuiCell="'name'" tuiTd>
                {{ client.name }}
              </td>
              <td *tuiCell="'address'" tuiTd>
                {{ client.address }}
              </td>
              <td *tuiCell="'actions'" tuiTd>
                <div class="dossier-clients__action-button-container">
                  <tui-marker-icon
                    src="tuiIconFolderLarge"
                    mode="primary"
                    size="xs"
                    title="Открыть досье"
                    routerLink="dossier/{{ client.id }}"
                    class="dossier-clients__action-button"
                  ></tui-marker-icon>
                </div>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!clientCompanies.length">
            <td [colSpan]="columns.length" tuiTd [style.textAlign]="'center'">
              Данные о компаниях клиентов не найдены
            </td>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td [colSpan]="columns.length">
              <tui-table-pagination
                [total]="clientCompanies.length"
              ></tui-table-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </tui-scrollbar>
  </div>
</div>
